/* Custom CSS Styles */
/* :root {
  --primary-color: #10c3c9;
  --secondary-color: orange;
  --text-color: #141414;
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

html {
  font-size: 15px;
}

/* body {
  background-color: antiquewhite;
  font-family: var(--secondary-font);
  color: var(--text-color);
} */

p {
  /* color: var(--text-color); */
  margin-bottom: 1.3rem;
  /* font-family: var(--primary-font); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* .section-container {
  padding: 50px 0;
} */

/* .section-header {
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  color: var(--text-color);
  margin-bottom: 1.5rem;
} */

/* .btn-button {
  text-transform: capitalize;
  font-weight: bold;
  background: var(--secondary-color);
  border-radius: 5px;
} */

/* .btn-button:hover {
  background-color: var(--primary-color);
  color: white;
  transition: all 0.6s ease;
} */

/* .position-sticky {
  border-radius: 3px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 100;
  padding: 1em;
} */

/* Header CSS Styles */
/* a.logo {
  text-transform: math-auto;
  font-size: 1.3rem;
  padding: 0 15px;
  font-weight: bold;
  font-family: var(--primary-font);
}

} */

/* 
.navbar-nav .nav-item {
  margin: 0px 15px;
  font-weight: bold;
  text-transform: capitalize;
}

.navbar-nav .nav-item .nav-link {
  color: var(--text-color);
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--primary-color);
  transition: all 0.6s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--primary-color);
} */

/* Home Page Hero Section */
/* .bg-image {
  position: relative;
  background-image: url('../assets/images/banner-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.bg-image::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: 1;
} */

/* Footer Styles */
/* .footer {
  padding: 35px 0;
  background-color: var(--text-color);
}

.footer p {
  color: antiquewhite;
} */

/* ------------------------------------
----------- Responsive Design ---------
--------------------------------------*/

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 16px;
  }

  .section-container {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 18px;
  }

  .section-container {
    padding: 80px 0;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }

  .section-container {
    padding: 100px 0;
  }

  .section-header {
    font-size: 2rem;
  }
}
